body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:608px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:608px;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:608px;
  width:375px;
  height:52px;
  font-size:12px;
  color:#FFFFFF;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:633px;
  width:44px;
  height:27px;
  color:#999999;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:633px;
  width:44px;
  height:27px;
  color:#999999;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:633px;
  width:44px;
  height:27px;
  color:#999999;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:615px;
  width:26px;
  height:14px;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:10px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:628px;
  width:20px;
  height:10px;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:616px;
  width:26px;
  height:21px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:615px;
  width:26px;
  height:26px;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:615px;
  width:26px;
  height:26px;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:633px;
  width:44px;
  height:27px;
  color:#999999;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:608px;
  width:52px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u144 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:608px;
  width:52px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u145 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:608px;
  width:52px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
